/* FONT IMPORT */
/*
 * The Typekit service used to deliver this font or fonts for use on websites
 * is provided by Adobe and is subject to these Terms of Use
 * http://www.adobe.com/products/eulas/tou_typekit. For font license
 * information, see the list below.
 *
 * myriad-pro:
 *   - http://typekit.com/eulas/00000000000000000001709e
 * myriad-pro-condensed:
 *   - http://typekit.com/eulas/0000000000000000000170a8
 *
 * © 2009-2023 Adobe Systems Incorporated. All Rights Reserved.
 */
/*{"last_published":"2023-09-28 09:27:05 UTC"}*/

@import url("https://p.typekit.net/p.css?s=1&k=mfz7wfa&ht=tk&f=6808.6846&a=32837237&app=typekit&e=css");

@font-face {
font-family:"myriad-pro";
src:url("https://use.typekit.net/af/1b1b1e/00000000000000000001709e/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/1b1b1e/00000000000000000001709e/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/1b1b1e/00000000000000000001709e/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:700;font-stretch:normal;
}

.tk-myriad-pro { font-family: "myriad-pro",sans-serif; }
/* END IMPORT */

:root{
    /* Color Themes */
    --dark: #333940;
    --pop: #e867ed;
    --light: white;
    /* Font Themes */
    --header-bold: 900;
    --header-font: 'myriad-pro', 'sans-serif';
    --p-font: 'Arial', 'Helvetica', 'sans-serif';
    --p-font-size: 17px;
    

    /* Content */
    --row-header: "Flexbox Row";
    --column-header: "Flexbox Column";
    --grid-header: "CSS Grid Layout";
    --gradient-header: "Linear Gradients";
    --glow-header: "Box Transition Glow";
    --overlay-header: "Overlay Card with Title";
}

* {
    font-family: sans-serif;
}

/* Header */
header{
    padding: 25px 0 15px 0;
}

code {
    color: var(--light);
}

pre {
    font-family: 'Courier New', Courier, monospace;
}

.header {
    font-weight: var(--header-bold);
    font-family: var(--header-font);
    font-size: 45px;
}

/* Text Formatting */
.text-pop {
    color: var(--pop);
}

.text-light {
    color: var(--light);
}

.p-spaced {
    line-height: 1.5;
}

body {
    background-color: var(--dark);
}

/* Main Content */
.flex-container {
    display: flex;
    flex-wrap: wrap;
    border: 2px solid red;
    justify-content: space-around;
    margin: 0 2%;
}

/* Content Cards */
.card {
    border: 2px dashed var(--light);
    height: 200px;
    flex: 1 1 30.33%;
    margin: 25px 15px;
    position: relative;
    flex-direction: column;
}

.card::before {
    position: absolute;
    content: "Header";
    color: var(--pop);
    background-color: var(--dark);

    font-weight: var(--header-bold);
    font-size: 30px;
    font-family: var(--header-font);

    top: -25px;
    left: 15px;
    right: 15px;
    margin: auto;
    padding: 5px 5px 3px 5px;
    border: 3px solid var(--light);
    border-radius: 5px;
}

.card-text {
    margin: 35px 15px 35px 15px;
    font-family: var(--p-font);
    font-size: var(--p-font-size);
}


.linear-gradient-background {
    background-image: linear-gradient(
        rgba(232,102,236,0.3) 0%,
        rgba(232,102,236,0.6) 100%
    );
}

#subtitle {
    text-align: center;
    justify-content: center;
    width: 70%;
    margin: 0 auto 40px auto;
}

/* Card Headers */
#flexbox-row::before {
    content:var(--row-header);
}

#flexbox-column::before {
    content: var(--column-header);
}

#css-grid-layout::before {
    content: var(--grid-header);
}

#linear-gradients::before {
    content: var(--gradient-header);
}

#box-transition-glow::before {
    content: var(--glow-header);
}

#overlay-card-title::before {
    content: var(--overlay-header);
}

@media screen and (max-width: 991px) {
    .card {
        flex: 1 1 45%;
    }

    #subtitle {
        width: 80%
    }
    
}